@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Fira+Code&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --dark-color: #333;
    --light-color: #f4f4f4;
    --heading-font: 'Comfortaa', cursive;;
    --text-font: 'Nunito', sans-serif;;
}

header, footer {
    background-color: var(--dark-color);
}

body {
    background-color: var(--light-color);
    width: 100%;
    height:100%;
}

section{
    padding: 10%;
    margin: auto; /*center all the things*/
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--dark-color);
    margin: auto; /*center headings*/
}

p {
    font-family: var(--text-font);
    color: var(--dark-color);
}

a { 
    font-family: var(--text-font);
    color: var(--dark-color);
    font-weight: bold;
    background: linear-gradient(135deg, red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    margin: auto;
    text-decoration: none;
}

a:hover {
    color: transparent;
    transition: 250ms ease;
}

a:active {
    color: rgba(0,0,0,.5);
}

code {
    font-family: 'Fira Code', monospace;
}

#footer-text, #header-text {
    color: var(--light-color);
}

ul {
    line-height: 1.5;
}

li {
    line-height: 1.5;
}
