<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/site/style.css">
    <meta property="og:title" content="OpenGates" />
    <meta property="og:description" content="An Anti-Gatekeeping Checklist for Dev Content Creators" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/site/og_img.png" />
    <meta property="twitter:image:alt" content='OpenGates - open graph metadata img: Says "
        OpenGates" "An Anti-Gatekeeping Checklist for Dev Content Creators" and has an image of gates opening to a bunch
        of humaaaans people doing computer things. People are of varying ages, color, abilities'>
    <meta property="og:url" content="https://www.OpenGates.dev" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@vicki_langer" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="/" id="light-link">Home</a>
            <!--TODO:
        <a href="/adopters/" id="light-link">Adopters</a>
                -->
            <a href="/checklist/" id="light-link">Current Version</a>
            <a href="/translations/" id="light-link">Translations</a>

            <a href="/faq" id="light-link">FAQ</a>
        </nav>
        <h1 id="header-title">{{ page.title }}</h1>
        <p id="header-text">
            <emphasis>An Anti-Gatekeeping Checklist for Dev Content Creators</emphasis>
        </p>
        <a id="bookmark-this" href="#" title="Bookmark This Page">Bookmark This Page</a>
    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        <div class="footer-box">
<a id="bookmark-this" href="#" title="Bookmark This Page">Bookmark This Page</a>
            <p id="footer-text"><a href="https://github.com/VickiLanger/OpenGates" target="_blank"
                    id="light-link">Contributions, including translations</a>, are more than welcome.</p>
        </div>
        <div class="footer-box">
            <p id="footer-text">We strive to make OpenGates as user-friendly and comprehensive as possible, but
                sometimes things are missed. They will be added as soon as you tell us <strong>and</strong> you or I
                have the time to
                add them.
            </p>
            <p id="footer-text">If you'd like to tell us about something we missed or help add them,
                here's<a
                    href="https://github.com/VickiLanger/AntiGatekeep/blob/main/faq.md#but-you-dont-have-this-very-important-item"
                    target="_blank" id="light-link"> link to links to help with that</a>.
            </p>
        </div>
        <div class="footer-box">
            <a class="github-button" href="https://github.com/VickiLanger/OpenGates"
                data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large"
                data-show-count="true" aria-label="Star VickiLanger/OpenGates on GitHub">Star</a>
            <a class="github-button" href="https://github.com/VickiLanger/OpenGates/discussions"
                data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large"
                aria-label="Discuss VickiLanger/OpenGates on GitHub">Discuss</a>
            <p id="footer-text">OpenGates was created by <a href="https://twitter.com/Vicki_Langer" target="_blank"
                    id="light-link">Vicki Langer</a> in 2021 and is released under the <a
                    href="https://github.com/VickiLanger/OpenGates/blob/main/LICENSE" target="_blank"
                    id="light-link">MIT License</a>.</p>
            <p>Views <!-- Start of CuterCounter Code -->
<a href="https://www.webfreecounter.com/" target="_blank"><img src="https://www.cutercounter.com/hits.php?id=hrmxakkax&nd=9&style=8" border="0" alt="website counter"></a>
<!-- End of CuterCounter Code --></p>
        </div>
    </footer>
</body>
<!--These 4 script tags help support details tag if needed http://movb.de/jekyll-details-support.html-->
<script src="/js/zepto.min.js"></script>
<script>jQuery = Zepto;</script>
<script src="/js/jquery.details.min.js"></script>
<script>$('details').details();</script>

</html>
