<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/site/style.css">
    <meta property="og:title" content="OpenGates - An Anti-Gatekeeping Checklist for Dev Content Creators" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/site/og_img.png" />
    <meta property="og:url" content="https://www.OpenGates.dev" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@vicki_langer" />
</head>

<body>
    <header>
        <nav>
            <a href="/" id="header-text">Home</a>
            <!--TODO:
        <a href="/adopters/">Adopters</a>
        <a href="/translations/">Translations</a>
        -->
            <a href="/faq" id="header-text">FAQ</a>
        </nav>
        <h1 id="header-text">{{ page.title }}</h1>
        <p id="header-text">
            <emphasis>An Anti-Gatekeeping Checklist for Dev Content Creators</emphasis>
        </p>
    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        <p id="footer-text">This is a living document. This means it will be updated and there may be changes since last
            time you
            visited.</p>
        <p id="footer-text">We strive to make OpenGates as user-friendly and comprehensive as possible, but sometimes
            things are missed.
            They will be added as soon as you or I have the time to add them. If you'd like to help add them, here's<a
                href="https://github.com/VickiLanger/AntiGatekeep/blob/main/faq.md#but-you-dont-have-this-very-important-item"
                target="_blank"> link to links to help with that</a>.
        </p>

        <p id="footer-text">OpenGates was created by <a href="https://twitter.com/VickiLanger" target="_blank">Vicki
                Langer</a> in 2021
            and is released under the <a href="https://github.com/VickiLanger/OpenGates/blob/main/LICENSE"
                target="_blank">MIT License</a>.</p>
        <p id="footer-text"><a href="https://github.com/VickiLanger/OpenGates" target="_blank">Contributions, including
                translations</a>,
            are more than welcome.</p>

    </footer>
</body>

</html>